body {
    font-family: Agbalumo;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
    text-align: left;
    text-decoration-style: inherit;
}

h1 {
    -webkit-text-fill-color: blue;
    font-size: 50px;
    font-weight: 700;

}

.page-header {
    display: flex;
    width: auto;
    padding: 50px;
}


/* styles for button in DOM  */
.button-class {
    background-color: rgb(238, 92, 189);
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid blue;
}