/* styels for pokmonlist */
.list-group-item {
  border-top: 1px solid #fff;
  border-left-color: #fff;
  border-right-color: #fff;
  border-bottom: #fff;
}



body {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  text-decoration-style: inherit;
}

h1 {
  -webkit-text-fill-color: rgb(13, 200, 221);
  font-size: 50px;
  font-weight: 700;

}

.navbar {
  background-color: rgb(215, 92, 243);

}

a {
  color: #fff;
}


/* styles for button   */
.btn,
btn-primary {
  background-color: rgb(127, 127, 236);
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1em;
}